.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem; // 6 + 3 <-(circle transform)
    font-size: $default-font-size;
    transform: skewX(-12deg);


    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }


    @include respond(phone) {
        transform: skewX(0deg);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;

        // move away from the text (to add padding between 2 elements)
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        // cut down parts of the image that overflow beyond the element dimensions
        overflow: hidden;
        border-radius: 50%;

        // show text wrapped around image
        @supports (clip-path: polygon(0, 0)) or (-webkit-clip-path: polygon(0, 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            // circle(50%) -> half the height & width of the element, at 50% 50% -> center of the circle
            // note that element has to have width & height as well as be floated
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0deg);
        }
    }

    &__img {
        height: 100%; // of the parent

        transition: all .5s;
        transform: translateX(-4rem) scale(1.4);

        backface-visibility: hidden;
    }

    &__text {
        transform: skewX(12deg);
        @include respond(phone) {
            transform: skewX(0deg);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        // hidden shaky transition (small glitchy movements by couple of px)
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}